<div class="container-fluid">
  <header>
    <div class="row">
      <div class="col-md-12 text-center pt-5">
        <div class="hed">
          <p>Test de Personalidad</p>
        </div>
      </div>
    </div>
  </header>
  <section class="instrucciones container" >
    <div class="row">
      <div class="col-md-12">
        <p>
          Necesitamos que contestes unas sencillas preguntas, pero antes lee las instruciones.
          <br> Esto nos ayudara con tu cambio de carrera o si no estas seguro de si estas escogiendo la carrera que crees correcta.
        </p>
        <ol>
          <li>
            Se lo mas descriptivo posible, describe tus gustos.
          </li>
          <li>
            Tomate tu tiempo para escribir las respuestas.
          </li>
          <li>
            Toma en cuenta que esto nos ayudará para apoyarte en lo que necesites.
          </li>
        </ol>
      </div>
    </div>

  </section>
  <section class="preguntas" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form #pregunta="ngForm" (ngSubmit)="submitTestForm(pregunta)" *ngIf="!form_success">
            <div class="form-group text-left">
              <label for="q1">Que es lo que no te ha gustado de la carrera?</label>
              <input type="text" class="form-control" id="q1" [(ngModel)]="preguntass.q1" name="q1" #q1="ngModel">
            </div>
            <div class="form-group text-left">
                <label for="q2">Como te sientes con la decision que estas tomando?</label>
                <input type="text" class="form-control" id="q2" [(ngModel)]="preguntass.q2" name="q2" #q2="ngModel">
              </div>
              <div class="form-group text-left">
                  <label for="q3">Nos puedes describir como has sentido tu desempeno en esta carrera</label>
                  <input type="text" class="form-control" id="q3" [(ngModel)]="preguntass.q3" name="q3" #q3="ngModel">
                </div>
                <div class="form-group text-left">
                    <label for="content">Necesitamos que te describas, que te gusta, no te gusta, como te ves en el futuro, a que problemas te has enfrentado a lo largo de
                      esta carrera, y en tu vida persona.(Aproximadamente 700 palabras.)
                    </label>
                    <textarea rows="10" type="text" class="form-control" id="content" [(ngModel)]="preguntass.content" name="content" #content="ngModel">
                      </textarea>
                  </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-outline-primary butt">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </section>
  <section class="resultado" [ngClass]="{'showans': form_success, 'hidden': !form_success}">
    Personality
    <div *ngFor="let pers of personality;">
      <strong>{{ pers.name }} - {{ pers.percentile }}:</strong>
      <span *ngFor="let res of pers.children;">
          {{ res.name }} - {{ res.percentile }},
      </span>
    </div>
    Needs
    <div *ngFor="let need of needs;">
        <strong>{{ need.name }}</strong> - {{ need.percentile }}
    </div>
    Values
    <div *ngFor="let value of values;">
        <strong>{{ value.name }}</strong> - {{ value.percentile }}
    </div>
    Consumption Preferences
    <div *ngFor="let consumption of consumptions;">
        <strong>{{ consumption.name }}: </strong>
        <ul *ngFor="let preference of consumption.consumption_preferences;">
            <li>{{ preference.name }} - {{ preference.score }}</li>
        </ul>
      </div>
  </section>
</div>
