<div class="container-fluid">
  <header>
    <div class="row">
      <div class="col-md-12 text-center pt-5">
        <div class="hed">
          <p>Test de Personalidad</p>
        </div>
      </div>
    </div>
  </header>
  <section class="instrucciones container" [ngClass]="{'showans': !form_success, 'hidden': form_success}">
    <div class="row">
      <div class="col-md-12">
        <p>
          Necesitamos que contestes unas sencillas preguntas, pero antes lee las instruciones.
          <br> Esto nos ayudara con tu cambio de carrera o si no estas seguro de si estas escogiendo la carrera que crees correcta.
        </p>
        <ol>
          <li>
            Se lo mas descriptivo posible, describe tus gustos.
          </li>
          <li>
            Tomate tu tiempo para escribir las respuestas.
          </li>
          <li>
            Toma en cuenta que esto nos ayudará para apoyarte en lo que necesites.
          </li>
        </ol>
      </div>
    </div>

  </section>
  <section class="preguntas" [ngClass]="{'showans': !form_success, 'hidden': form_success}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form #pregunta="ngForm" (ngSubmit)="submitTestForm(pregunta)" *ngIf="!form_success">
            <div class="form-group text-left">
              <label for="q1">Que es lo que no te ha gustado de la carrera?</label>
              <input type="text" class="form-control" id="q1" [(ngModel)]="preguntass.q1" name="q1" #q1="ngModel">
            </div>
            <div class="form-group text-left">
              <label for="q2">Como te sientes con la decision que estas tomando?</label>
              <input type="text" class="form-control" id="q2" [(ngModel)]="preguntass.q2" name="q2" #q2="ngModel">
            </div>
            <div class="form-group text-left">
              <label for="q3">Nos puedes describir como has sentido tu desempeno en esta carrera</label>
              <input type="text" class="form-control" id="q3" [(ngModel)]="preguntass.q3" name="q3" #q3="ngModel">
            </div>
            <div class="form-group text-left">
              <label for="content">Necesitamos que te describas, que te gusta, no te gusta, como te ves en el futuro, a que problemas te has enfrentado
                a lo largo de esta carrera, y en tu vida persona.(Aproximadamente 700 palabras.)
              </label>
              <textarea rows="10" type="text" class="form-control" id="content" [(ngModel)]="preguntass.content" name="content" #content="ngModel">
              </textarea>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-outline-primary butt">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>
  <section class="instrucciones container" [ngClass]="{'showans': form_success, 'hidden': !form_success}">
    <div class="row">
      <div class="col-md-12">
        <p>
          Resultados de tu información, esto es un aproximado a lo que te gusta o puede gustar segun el escrito enviado.
        </p>

      </div>
    </div>

  </section>
  <section class="row resultado" [ngClass]="{'showans': form_success, 'hidden': !form_success}">
      <div class="row">
          <div class="container row">
            <div class="col-md-6  col-4 personhov">
              <h4 class="margin-top-20">Needs</h4>
              <div *ngFor="let need of needs;">
                <strong>{{ need.name }}</strong> - {{ need.percentile }}%
                <input type="range" min="10" max="100" value="{{ need.percentile }}" class="slider2" disabled="true">
              </div>
            </div>
            <div class="col-md-4 col-4">
              <h4>Values</h4>
              <div *ngFor="let value of values;">
                <strong>{{ value.name }}</strong> - {{ value.percentile }}%
                <input type="range" min="10" max="100" value="{{ value.percentile }}" class="slider2 " disabled="true">
              </div>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-11">
        <h4>Personalidad:</h4>
        <div class="row">
          <div *ngFor="let pers of personality;" class="col-5 col-md-6 personhov">
            <h4 class="margin-top-20">{{ pers.name }} {{ pers.percentile }}%:</h4>
            <br>
            <span *ngFor="let res of pers.children;">
              {{ res.name }} - {{ res.percentile }}%,
              <br>
              <input type="range" min="10" max="100" value="{{ res.percentile }}" class="slider" disabled="true">
              <br>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2  ">
        <h2 class="margin-top-20 ">
          Preferencias de consumo</h2>
        <div class="row">
          <div class="col-md-12 personhov" *ngFor="let consumption of consumptions;">
            <h4 class="margin-top-20">{{ consumption.name }}: </h4>
            <div *ngFor="let preference of consumption.consumption_preferences;">
             <p class="prefcon">{{ preference.name }}</p> 
          </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <button class="btn btn-primary margin-top-20 mrgn-btn-50" (click)="refresh()">Atras</button>
    </div>
    
  </section>
</div>
