header{
    background: url("../../../assets/Personal/maxresdefault.jpg");
    background-size: cover;
    min-height: 500px;
        
    p{
        color: white;
        font-weight: bolder;
        margin: auto;
        font-size: 58px;
    }
    
}