<div class="container-fluid footer">
  <div class="row text-xs-center text-sm-left text-md-left ">
    <div class="col-md-4 col-12 text-center link">
      <img src="../../assets/Home/anahuac-can.png">
    </div>
    <div class="col-6 col-md-8 link ">
      <h5>Links</h5>
      <ul class="quick-links">
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-angle-double-right"></i>Home</a>
        </li>
        <li class="list-inline-item">
          <a href="/personal">
            <i class="fa fa-angle-double-right"></i>Test de personalidad</a>
        </li>
        <li class="list-inline-item">
          <a href="/posters">
            <i class="fa fa-angle-double-right"></i>Posters</a>
        </li>
        <li class="list-inline-item">
          <a href="/areas">
            <i class="fa fa-angle-double-right"></i>Areas de comida</a>
        </li>
        <li class="list-inline-item">
            <a href="/text-to-audio">
              <i class="fa fa-angle-double-right"></i>Traductor</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 text-center text-white">
        <ul class="sos">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
      <p>Avenida Universidad Anáhuac 46, Lomas Anahuac, 52786 Huixquilucan, MEX</p>
      <p class="h6">& All right Reversed. KGM, CPH, MM.
      </p>
    </div>
  </div>
</div>
