<section class="resultado" [ngClass]="{'showans': form_success, 'hidden': !form_success}">
    {{ this.initialMessage }}
    <div *ngFor="let message of this.messages;">
       Pregunta: {{ message.question }}<br>
       Respuesta: {{ message.response }}
    </div>
</section>
<form #chat="ngForm" (ngSubmit)="submitMessage(chat)" >
    <div class="form-group text-left">
      <input type="text" class="form-control" id="message" [(ngModel)]="question.message" name="message" #message="ngModel" placeholder="Pregunta">
    </div>
   
    <div class="form-group text-center">
      <button type="submit" class="btn btn-outline-primary butt">Enviar</button>
    </div>
</form>
