header{
    background: url("../../../assets/Home/ana.jpg") no-repeat;
    background-size: cover;
	min-height: 746px;
	p{
        color: white;
        font-weight: bolder;
        margin: auto;
        font-size: 58px;
        padding-top: 70px;
    }
}
.mrgn-top-50{
    margin-top: 50px;
}
.hidden{
    display: none;
}
.showans{
    display: block;
}